<div>
    <a class="btn btn-default" ng-click="open('md')">Add Project</a><br>
    
    Project Search: <input type="text" ng-model="search.projectName" id="search.projectName" />
    <br>
    <br>
    <table class="table">
        <tr>
            <!--<td>Project ID</td>-->
            <td>Project Name</td>
            <td>WBS</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="project in projects | filter:search">
            <!--<td>{{project.id}}</td>-->
            <td>{{project.projectName}}</td>
            <td>{{project.WBS}}</td>
            <td>
                <a class="btn btn-sm btn-danger" ng-click="deleteProject(project.id,$index)" >Delete</a> 
                <a class="btn btn-sm btn-info" ng-click="editProject(project,$index)">Edit</a> 
            </td>
        </tr>
    </table>
</div>